html{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
body{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex: auto;
}
header{
	display: flex;
}
.nav{
	width: 80px;
	height: 800px;
	border: 1px solid black;
	display:  flex;
	flex-wrap: wrap;
	justify-content: space-between; 
	box-sizing: border-box;
	align-content: start;
}
.user_icon{
	width: 80px;
	height: 80px;
	display: flex;
	margin-left: 5px;
	margin-right: 5px;
	border-bottom: 1px solid black;
}
.nav_button{
	height: 60px;
	width: 60px;
	margin: 8px;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
}
.top{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.nav_top{
	width: 100%;
	height: 40px;
	display: flex;
	border: 1px solid black;
}
.search{
	display: flex;
	align-self: center;
	margin-left: 100px;
}
.logo_window{
	height: 228px;
	width: 100%;
	border: 1px solid black;
	display: flex;
}
.sign{
	display: flex;
	align-self: center;
	margin-top: 23px;
}
.sign_in{
	background-color: #4CAF50;
	border: none;
	padding: 15px 32px;
	text-align: center;
}
.sign_up{
	background-color: #4CAF50;
	border: none;
	padding: 15px 32px;
	text-align: center;
	margin-left: 100px;
}