html{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
body{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex: auto;
}
header{
	display: flex;
}
.nav{
	width: 80px;
	height: 100vh;
	border: 1px solid black;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between; 
	box-sizing: border-box;
	align-content: start;
}
.user_icon_box{
	width: 80px;
	height: 80px;
	display: flex;
	margin: 8px;
	border-bottom: 2px solid black;
}
.user_icon{
	width: 50px;
	height: 50px;
	border: solid 2px black;
	border-radius: 25px;
	display: flex;
	align-self: center;
	margin: auto;

}
.nav_button{
	height: 60px;
	width: 60px;
	margin: 8px;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
}
.nav_button_facog{
	height: 60px;
	width: 60px;
	margin: 8px;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
}
.fa-cog:hover{
	-webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
.fa-question-circle:hover{
	-webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
.top{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.nav_top{
	width: 100%;
	height: 40px;
	display: flex;
	background: white;
	border: 1px solid black;
}
.search{
	width: 400px;
	height: 30px;
	display: flex;
	align-self: center;
	margin-left: 30px;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
}
.search input#search{
	width: 300px;
	height: 30px;
	background: white;
	border: solid 2px black;
	outline: 0;
	padding-left: 15px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-transition: background .23s ease;
	-moz-transition: background .23s ease;
	-ms-transition: background .23s ease;
	-o-transition: background .23s ease;
	transition: background .23s ease;
}
.search:hover input#search, .search:focus input#search, .search:active input#search{
	outline: 0;
	outline-offset: 0;
}
.search button.icon{
	-webkit-border-top-left-radius: 5px;
  	-webkit-border-bottom-left-radius: 5px;
  	-moz-border-radius-top-left: 5px;
  	-moz-border-radius-bottom-left: 5px;
  	border-top-left-radius: 5px;
  	border-bottom-left-radius: 5px;
	border: solid 2px black;
	background: white;
	height: 30px;
	width: 30px;
	color: #4f5b66;
	opacity: 0;
	-webkit-transition: all .23s ease;
	-moz-transition: all .23s ease;
	-ms-transition: all .23s ease;
	-o-transition: all .23s ease;
	transition: all .23s ease;
}
.search:hover button.icon, .search:active button.icon, .search:focus button.icon{
	outline: none;
	opacity: 1;
}
.search:hover button.icon:hover{
	background: white;
}
.logo_window{
	height: 250px;
	width: 100%;
	border: 2px solid black;
	display: flex;
}
.sign{
	display: flex;
	align-self: center;
	margin-top: 23px;
}
.sign_in{
	background-color: white;
	border: 2px solid black;
	padding: 15px 32px;
	text-align: center;
}
.sign_in:focus, .sign_in:hover, .sign_in:active{
outline: none;
}
.sign_up{
	background-color: white;
	border: 2px solid black;
	padding: 15px 32px;
	text-align: center;
	margin-left: 100px;
}
.sign_up:focus, .sign_up:hover, .sign_up:active{
outline: none;
}